- @page_title = "Templates"

- if @templates.empty? && @layouts.empty?
  %p.empty No Templates
- else
  %table{:cellspacing => 0, :cellpadding => 0}
    %thead
      %tr
        %th Name
        %th Format
        %th.controls Controls
    %tbody
      - unless @templates.empty?
        %tr
          %th{:colspan => 3} Templates
        - for template in @templates
          %tr
            %td= template.name
            %td= template.format
            %td.controls
              %ul
                %li= link_to("Edit", url(:edit_admin_template, template))
                %li= link_to("Edit Sections", url(:admin_template_sections, :template_id => template))
                %li= link_to("Delete", url(:delete_admin_template, template))
      - unless @layouts.empty?
        %tr
          %th{:colspan => 3} Layouts
        - for template in @layouts
          %tr
            %td= template.name
            %td= template.format
            %td.controls
              %ul
                %li= link_to("Edit", url(:edit_admin_template, template))
                %li= link_to("Delete", url(:delete_admin_template, template))

%p.newLink= link_to("New", url(:new_admin_template))