%label= content.section_label
= asset_browser(:value => content.asset_id, :id => "page_image_#{content.id}", :name => "gluttonberg::page_localization[contents][#{content.association_name}][#{content.id}][asset_id]")