%label= content.section_label
= find_and_preserve do
  = text_area(content.text, :name => "gluttonberg::page_localization[contents][#{content.association_name}][#{content.id}][text]", :class => "large tall")