= form_for(@template_section, :action => action) do
  = error_messages_for(@template_section)
  %div.fieldset
    = text_field(:label, :label => "Label")
    = text_field(:name, :label => "Name")
    = select(:type, :collection => Gluttonberg::Content.types, :text_method => :label, :value_method => :association_name, :selected => @template_section.type, :label => "Type")
  %p.controls
    = submit("Save")
    or
    = link_to("<strong>Cancel</strong>", slice_url(:template_sections, :template_id => @template))