%tr{:class => cycle(:rows, "odd", "even")}
  %td{:class => "inset#{inset}"}
    = page.home ? "#{page.name} (Home page)" : page.name
  %td.controls
    %ul
      %li= link_to 'Show', slice_url(:page, page)
      %li= link_to 'Edit', slice_url(:edit_page, page)
      %li= link_to 'Delete', slice_url(:delete_page, page)