- @page_title = "Pages"
%ul#subnav
  %li.new= link_to('New', slice_url(:new_page))
- if @pages.empty?
  %p.empty No Pages
- else
  %table{:cellpadding => 0, :cellspacing => 0}
    %thead
      %tr
        %th Page
        %th.controls Controls
    %tbody
      - for page in @pages
        %tr{:class => cycle(:rows, "odd", "even")}
          %td= page.name
          %td.controls
            %ul
              %li= link_to 'Show', slice_url(:page, page)
              %li= link_to 'Edit', slice_url(:edit_page, page)
              %li= link_to 'Delete', slice_url(:delete_page, page)