- @page_title = "Page: #{@page.name}"
= sub_nav do
  = back_link("Pages", slice_url(:pages))
  = nav_link('Delete', slice_url(:delete_page, @page))
  = nav_link('Edit', slice_url(:edit_page, @page))
  
%h2 Properties
%dl
  %dt Slug
  %dd= @page.slug
  %dt Template
  %dd= @page.type.name || "None set"
  %dt Template Section Count
  %dd= @page.type ? @page.type.sections.length : 0

%h2 Sections
%ul
  - for section in @page.type.sections
    %li= section.label

%h2 Localizations
- if @page.localizations.empty?
  %p.empty No localizations set
- else
  %table{:cellpadding => 0, :cellspacing => 0}
    %thead
      %tr
        %th Locale
        %th Language
        %th Path
        %th.controls Controls
    %tbody
      - for localization in @page.localizations
        %tr
          %td= localization.locale.name if localization.locale
          %td= "#{localization.dialect.name} (#{localization.dialect.code})"
          %td= localization.path
          %td.controls
            %ul
              %li= link_to("Edit", slice_url(:page_edit_localization, :page_id => @page, :id => localization))