- @page_title = "Asset Library"
%h2 Browse
%ul
  %li= link_to("Latest", slice_url(:asset_category, "latest"))
  %li= link_to("All", slice_url(:assets))
  - Gluttonberg::Library::TYPES.each do |type|
    %li= link_to(type.to_s.capitalize, slice_url(:asset_category, type.to_s))

%h2 Collections
- if @collections.empty?
  %p.empty No collections
- else
  %ul
    %li= link_to("All", slice_url(:collections))
    - for collection in @collections
      %li= link_to(collection.name, slice_url(:collection, collection))

%h2 Latest
= partial("library/shared/assets_table")