- @page_title = "Asset Library"
= sub_nav do
  = nav_link("Add collection", slice_url(:new_collection))
  = nav_link("Add asset", slice_url(:new_asset))

%h2.assetList Collections
- unless @collections.empty?
  %ul.assetList
    - for collection in @collections
      %li
        %a{:href => slice_url(:collection, collection), :class => "collection"}
          %h3= collection.name
          %p nil items

%h2.assetList Browse
%ul.assetList
  %li
    %a{:href => slice_url(:assets), :class => "browseAll"}
      %h3 All
      %p nil items
  - Gluttonberg::Library::CATEGORIES.each do |category|
    %li
      %a{:href => slice_url(:asset_category, category), :class => "browse#{category.pluralize.capitalize}"}
        %h3= category.pluralize.capitalize
        %p nil items


- unless @assets.empty?
  %h2.assetList Latest
  %ul.assetList
    - for asset in @assets
      %li
        %a{:href => slice_url(:asset, asset), :class => "asset#{asset.category.capitalize}"}
          %h3= asset.name
          %p= asset.full_type
