- if @assets.empty?
  %p.empty No assets
- else
  %ul#assetPanels
    - for asset in @assets
      %li
        %a{:href => slice_url(:asset, asset), :class => "assetLink"}
          %h2= asset.name
          %p= "Added #{asset.created_at.formatted(:short)}"
          %div
            - if asset.category == "image"
              %img{:src => asset.url}/
              
- if @paginator && @paginator.total > 0
  %ul#paginator
    %li#count= "Page #{@paginator.current} of #{@paginator.total}"
    - if @paginator.previous?
      %li#previous= link_to("Previous", slice_url(:asset_category, :category => params[:category], :page => @paginator.previous))
    - else
      %li#previous.disabled= link_to("Previous")
    - if @paginator.next?
      %li#next= link_to("Next", slice_url(:asset_category, :category => params[:category], :page => @paginator.next))
    - else
      %li#next.disabled= link_to("Next")
