!!! Strict
%html
  %head
    %title Administration
    %link{:href => gluttonberg_public_path_for(:stylesheet, 'admin.css'), :type => "text/css", :charset => "utf-8", :rel => "stylesheet"}/
    %script{:src => gluttonberg_public_path_for(:javascript, "jquery-1.2.6.min.js"), :type => "text/javascript", :charset => "utf-8"}
    %script{:src => gluttonberg_public_path_for(:javascript, "application.js"), :type => "text/javascript", :charset => "utf-8"}
  %body
    %div#sidebar
      %h1 Gluttonberg
      %ul#navigation
        = main_nav_entry("Content", "content", url(:gluttonberg_content))
        = main_nav_entry("Library", "library", url(:gluttonberg_library))
        - for entry in Gluttonberg.nav_entries
          = main_nav_entry(*entry)
        = main_nav_entry("Settings", "settings", url(:gluttonberg_settings))
      %p
        Logged in as
        %br/
        %strong Luke Sutton
        %a logout
    
    %div#wrapper
      %h1#pageTitle= @page_title || "No title set"
      = catch_content(:for_layout)
