!!! Strict
%html
  %head
    %title Administration
    = css_include_tag :admin
    = js_include_tag "jquery-1.2.6.min.js", "application.js"
  %body
    %div#sidebar
      %h1 Gluttonberg
      %ul#navigation
        = main_nav_entry("Content", "content", slice_url(:content))
        = main_nav_entry("Library", "library", slice_url(:library))
        = main_nav_entry("Settings", "settings", slice_url(:settings))
      %p
        Logged in as
        %br/
        %strong Luke Sutton
        %a logout
    
    %div#wrapper
      %h1#pageTitle= @page_title || "No title set"
      = catch_content(:for_layout)
