= form_for(@page_section, :action => action) do
  = error_messages_for(@page_section)
  
  = block do
    = text_field(:label, :label => "Label", :class => "wide")
    = text_field(:name, :label => "Name", :class => "wide")
    = select(:type, :collection => Gluttonberg::Content.content_classes, :text_method => :label, :value_method => :association_name, :selected => @template_section.type, :label => "Type")
  
  = form_controls(slice_url(:page_type_sections, params[:type_id]))
