- @page_title = "Sections for #{@page_type.name}"  
= sub_nav do
  = back_link("Page Types", slice_url(:page_types))
  = nav_link("New", slice_url(:new_page_type_section, @page_type))

- if @page_sections.empty?
  %p.empty No Page Sections
- else
  %table{:cellspacing => 0, :cellpadding => 0}
    %thead
      %tr
        %th Name
        %th.controls Controls
    %tbody
      - for section in @page_sections
        %tr
          %td= section.label
          %td.controls
            %ul
              %li= link_to("Edit", slice_url(:edit_page_type_section, @page_type, section))
              %li= link_to("Delete", slice_url(:delete_page_type_section, @page_type, section))
