- @page_title = "Content"
%ul
  %li= link_to("Pages", slice_url(:pages))
  %li= link_to("Page Types", slice_url(:page_types))
  %li= link_to("Locales", slice_url(:locales))
  %li= link_to("Dialects", slice_url(:dialects))
  %li= link_to("Templates", slice_url(:templates))