!!! Strict
%html
  %head
    %title Administration
    %link{:href => gluttonberg_public_path_for(:stylesheet, 'admin.css'), :type => "text/css", :charset => "utf-8", :rel => "stylesheet"}/
  %body{:id => "delete"}
    = form(:action => @options[:action], :method => "delete") do
      %h1= @options[:title]
      %p.message= @options[:message]
      
      %p.controls
        = submit("Delete")
        or 
        = link_to("<strong>Cancel</strong>", @options[:return_url])