= form_for(@collection, :action => action) do
  = error_messages_for(@collection)
  %div.fieldset
    = text_field(:name, :label => "Name")
  
  %p.controls
    = submit("Save")
    or
    = link_to("<strong>Cancel</strong>", slice_url(:collections))