- @page_title = "Assets - #{@collection.name}"
= sub_nav do
  = back_link("Library", slice_url(:library))
  = nav_link("Delete", slice_url(:delete_collection))
  = nav_link("Edit", slice_url(:edit_collection))
  = asset_browser_nav_link("Select asset", :collection => @collection)
  
= partial("library/shared/asset_panels")