= form_for(@dialect, :action => action) do
  = error_messages_for(@dialect)
  = fieldset(:legend => "Dialect") do
    %div.fieldset
      = text_field(:code, :label => "Code")
      = text_field(:name, :label => "Name")
      = check_box(:default)
      %label{:for => "dialect_default", :class => "checkbox"} Make default
  
  %p.controls
    = submit("Save")
    or
    = link_to('<strong>Cancel</strong>', slice_url(:gluttonberg, :dialects))