= form_for(@dialect, :action => action) do
  = error_messages_for(@dialect)
  = block("Dialect") do
    = text_field(:code, :label => "Code")
    = text_field(:name, :label => "Name")
    = check_box(:default)
    %label{:for => "dialect_default", :class => "checkbox"} Make default
  
  = form_controls(slice_url(:dialects))
