- @page_title = "Dialects"
%ul#subnav
  %li.new= link_to('New', slice_url(:gluttonberg, :new_dialect))

- if @dialects.empty?
  %p No dialects available
- else
  %table{:cellpadding => 0, :cellspacing => 0}
    %thead
      %tr
        %th Dialect
        %th.controls Controls
    %tbody
      - for dialect in @dialects
        %tr
          %td= "#{dialect.name} (#{dialect.code})"
          %td.controls
            %ul
              %li= link_to('Edit', slice_url(:gluttonberg, :edit_dialect,  dialect))
              %li= link_to("Delete", slice_url(:gluttonberg, :delete_dialect, dialect))
