= form_for(@page_type, :action => action) do
  = error_messages_for(@page_type)
  %div.fieldset
    = text_field(:name, :label => "Name", :class => "wide")
    = text_field(:filename, :label => "File Name", :class => "wide")
  
  = form_controls(slice_url(:page_types))
