= form_for(@page_localization, :action => action) do
  = error_messages_for(@page_localization)
  = block("Localization") do
    = text_field(:name, :label => "Name")
    = text_field(:slug, :label => "Slug")
    
  = block("Content") do
    - for content in @page_localization.contents
      = content_editor(content)
  
  = form_controls(slice_url(:page, params[:page_id]))