= form_for(@asset, :action => action) do
  = error_messages_for(@asset)
  
  = block("Localization") do
    = check_box(:localized)
    %label{:for => "gluttonberg::localized", :class => "inline"} Localize
    = select(:dialect_id, :collection => @dialects, :value_method => :id, :text_method => :name, :label => "Dialect")
    = select(:locale_id, :collection => @locales, :value_method => :id, :text_method => :name, :label => "Locale")
  
  = block("Details") do
    = text_field(:name, :label => "Name", :class => "large")
    = text_area(:description, :label => "Description", :class => "large short")

  = fieldset(:legend => "Collections", :id => "collections") do
    %div.fieldset
      - for collection in @collections
        = check_box(:name => "gluttonberg::asset[collection_ids][]", :id => "asset_collection_#{collection.id}", :value => collection.id, :boolean => false, :checked => @asset.collections.include?(collection))
        %label{:for => "asset_collection_#{collection.id}", :class => "checkbox"}= collection.name
      
  = block("File") do
    = file_field(:file, :label => "File to upload")
  
  = form_controls(slice_url(:library))
